$color-aaa: #AAAAAA;
$color-bbb: #BBBBBB;
$color-ccc: #CCCCCC;
$color-ddd: #DDDDDD;
$color-eee: #EEEEEE;
$color-fff: #FFFFFF;

$color-000:#000000;
$color-111: #111111;
$color-222: #222222;
$color-333: #333333;
$color-444: #444444;
$color-555: #555555;
$color-666: #666666;
$color-777: #777777;
$color-888: #888888;
$color-999: #999999;



// COLORS
$color-primary: #0089CF;
$color-secondary:#F15A22;
$color-white: $color-fff;
$color-black: $color-000;
$color-highlight: #42AEF0;
$color-highlight2: #94B0BE;
$color-normal: #1EB24B;
$color-male: #0295D2;
$color-female: #D43C87;
$color-text: $color-444;
$color-lightText: $color-666;
$color-darkText: #202020;
$color-errorText: #EE5B36;
$color-border: $color-ddd;
$color-border2: #B2E6FA;
$color-borderDark: #838383;
$color-background: #D9F3FD;
$color-errorBackground: #FDF2E2;
$color-successBackground: #50B16B;
$color-offer: #F99F1C;
$color-filter: #2D6272;

// SIZE
$font-small: 1.2rem;
$font-regular: 1.4rem;
$font-medium: 1.5rem;
$font-large: 1.6rem;
$font-xl: 2rem;

